
<section id="about" style="padding-top: 150px;">

    <div class="container">
        <div class="row">

        <div class="col-lg-5 col-md-6">
            <div class="about-img">
            <img src="assets/img/about-img.jpg" alt="">
            </div>
        </div>

        <div class="col-lg-7 col-md-6">
            <div class="about-content">
            <h2>Page Not Found</h2>
            <h3>Resource you are looking is currenly not available.</h3>
            <p>The HTTP 404, 404 Not Found, 404, Page Not Found, or Server Not Found error message is a Hypertext Transfer Protocol standard response code, in computer network communications, to indicate that the browser was able to communicate with a given server, but the server could not find what was requested.</p>
            <ul>
                <li><i class="ion-android-checkmark-circle"></i> Check your target URL.</li>
                <li><i class="ion-android-checkmark-circle"></i> Check the domain name.</li>
                <li><i class="ion-android-checkmark-circle"></i> Contact us.</li>
            </ul>
            </div>
        </div>
        </div>
    </div>

</section><!-- #about -->