<section id="team" class="section-bg" style="padding-top: 150px;">
  <div class="container">
    <div class="section-header">
      <h3>{{data.title}}</h3>
      <p>{{data.content}}</p>
    </div>

    <div class="row">

      <div *ngFor="let teamMember of data.teamList" class="col-lg-3 col-md-6 wow fadeInUp">
        <div class="member">
          <img [defaultImage]="defaultImage" [lazyLoad]="teamMember.imageLink" class="img-fluid" alt="">
          <div class="member-info">
            <div class="member-info-content">
              <h4>{{teamMember.name}}</h4>
              <span>{{teamMember.title}}</span>
              <div class="social">
                <a *ngIf="teamMember.socialLink.twitter!=null" href="{{teamMember.socialLink.twitter}}"><i class="fa fa-twitter"></i></a>
                <a *ngIf="teamMember.socialLink.facebook!=null" href="{{teamMember.socialLink.facebook}}"><i class="fa fa-facebook"></i></a>
                <a *ngIf="teamMember.socialLink.linkedin!=null" href="{{teamMember.socialLink.linkedin}}"><i class="fa fa-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- Team Member-->
      <div class="col-xl-3 col-md-6 mb-4" *ngFor="let teamMember of data.teamList">
        <div class="card border-0 shadow">
          <img [defaultImage]="defaultImage" [lazyLoad]="teamMember.imageLink" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">{{teamMember.name}}</h5>
            <div class="card-text text-black-50">{{teamMember.title}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!-- #team -->