<section id="call-to-action" class="wow fadeInUp">
    <div class="container">
        <div class="row">
        <div class="col-lg-9 text-center text-lg-left">
            <h3 class="cta-title">{{data.title}}</h3>
            <p class="cta-text" [innerHTML]="data.content"></p>
        </div>
        <div class="col-lg-3 cta-btn-container text-center">
            <a *ngIf="data.actionRouterLink!=null" class="cta-btn align-middle" routerLink="{{data.actionRouterLink}}">{{data.actionText}}</a>
            <a *ngIf="data.actionExternalLink!=null" class="cta-btn align-middle" href="{{data.actionExternalLink}}">{{data.actionText}}</a>
        </div>
        </div>
    </div>
</section><!-- #call-to-action -->