<footer id="footer" class="section-bg">
  <div class="footer-top">
    <div class="container">

      <div class="row">

        <div class="col-lg-6">

          <div class="row">

              <div class="col-sm-6">

                <div class="footer-info">
                  <h2>{{footer.title}}</h2>
                  <p [innerHTML]="footer.description"></p>
                </div>

                <div class="footer-newsletter">
                  <h4>Our Newsletter</h4>
                  <p [innerHTML]="footer.newsletterDescription"></p>
                  <form (ngSubmit)="subscribeNewsletter();">
                    <input [(ngModel)]="userEmail" type="email" name="email"><input type="submit"  value="Subscribe">
                  </form>
                </div>

              </div>

              <div class="col-sm-6">
                <div class="footer-links">
                  <h4>Useful Links</h4>
                  <ul>
                    <li *ngFor="let navLink of footer.navigationLinks">
                      <a routerLink="/{{navLink.link}}">{{navLink.title}}</a>
                    </li>
                  </ul>
                </div>

                <div class="footer-links">
                  <h4>Contact Us</h4>
                  <p *ngIf="websiteContact!=null && websiteContact.address!=null">
                    {{websiteContact.address.line1}} <br>
                    {{websiteContact.address.line2}}, {{websiteContact.address.pincode}}<br>
                    {{websiteContact.address.country}}  <br>
                    <strong>Phone:</strong> {{websiteContact.contactNo1}}<br>
                    <strong>Email:</strong> {{websiteContact.email}}<br>
                  </p>
                </div>

                <div *ngIf="socialLinks != null" class="social-links">
                  <a *ngIf="socialLinks.twitter" href="{{socialLinks.twitter}}" class="twitter"><i class="fa fa-twitter"></i></a>
                  <a *ngIf="socialLinks.facebook" href="{{socialLinks.facebook}}" class="facebook"><i class="fa fa-facebook"></i></a>
                  <a *ngIf="socialLinks.linkedin" href="{{socialLinks.linkedin}}" class="linkedin"><i class="fa fa-linkedin"></i></a>
                  <a *ngIf="socialLinks.instagram" href="{{socialLinks.instagram}}" class="instagram"><i class="fa fa-instagram"></i></a>
                  <a *ngIf="socialLinks.github" href="{{socialLinks.github}}" class="github"><i class="fa fa-github"></i></a>
                  <a *ngIf="socialLinks.whatsapp" href="{{socialLinks.whatsapp}}" class="whatsapp"><i class="fa fa-whatsapp"></i></a>
                </div>

              </div>

          </div>

        </div>

        <div class="col-lg-6">

          <div class="form">
            
            <h4>Send us a message</h4>
            <p [innerHTML]="footer.sendMessageDescription"></p>
            <form (ngSubmit)="submitMessage();" action="" role="form" class="contactForm">
              <div class="form-group">
                <input [(ngModel)]="userMessage.name" type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input [(ngModel)]="userMessage.emailId" type="email" class="form-control" name="emailId" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input [(ngModel)]="userMessage.subject" type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <textarea [(ngModel)]="userMessage.content" class="form-control" name="content" rows="5" data-rule="minlen:50" data-msg="Please write something for us, at least 50 chars" placeholder="Message"></textarea>
                <div class="validation"></div>
              </div>

              <div id="sendmessage">Your message has been sent. Thank you!</div>
              <div id="errormessage"></div>

              <div class="text-center"><button type="submit" title="Send Message">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>

    </div>
  </div>

  <div class="container">
    <div class="copyright" [innerHTML]="footer.copyrightDisclaimer">
    </div>
    <div class="credits" [innerHTML]="footer.creditsDisclaimer">
    </div>
  </div>
</footer>