<ng-container *ngFor="let websitePageSegment of pageData.body">
    <app-portfolio *ngIf="websitePageSegment.component=='portfolio'" [data]="websitePageSegment.data"></app-portfolio>
    <app-team *ngIf="websitePageSegment.component=='team'" [data]="websitePageSegment.data"></app-team>
    <app-features *ngIf="websitePageSegment.component=='features'" [data]="websitePageSegment.data"></app-features>
    <app-services *ngIf="websitePageSegment.component=='services'" [data]="websitePageSegment.data"></app-services>
    <app-pricing *ngIf="websitePageSegment.component=='pricing'" [data]="websitePageSegment.data"></app-pricing>
    <app-faq *ngIf="websitePageSegment.component=='faq'" [data]="websitePageSegment.data"></app-faq>
    <app-call-to-action *ngIf="websitePageSegment.component=='call-to-action'" [data]="websitePageSegment.data"></app-call-to-action>
    <app-blog-post *ngIf="websitePageSegment.component=='blog-post'" [data]="websitePageSegment.data"></app-blog-post>
</ng-container>